<!DOCTYPE html>

<html>
<head>
  <title>ABOUT</title>
  <link rel="icon" href="weather.png">
  <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
  <div class="main-content">
    {{header}}
    <p>{{THIS IS MY WEATHER APP. ENJOY!}}</p>
  </div>

  {{>footer}}

</body>
</html>
